.container {
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 576px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
  }

.landing {
    font-family: Josefin Sans;

    .hero_banner {
        position: relative;
        background-color: #f0f0f0;

        .hero_image {
            height: calc(85vh - 100px);
            min-height: 420px;
            max-height: 500px;
            overflow: hidden;
            background-image: url('../media/wooten-slide.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .texts {
            .wrapper {
                .title {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }

                .body {
                    margin-bottom: 1rem;
                    @media (min-width: 992px) {
                        max-width: 40ch;
                    }
                }

                button {
                    text-transform: uppercase;
                    color: white;
                    border: 0;
                    padding: .75rem 2rem;
                    background-color: #ff6347;
                    border-radius: .25rem;

                    &:hover {
                        transition: all 0.2s ease;
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
    
    .mono_creators {
        background-color: #000;
        color: white;

        .section_title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5rem;
            padding-top: 3rem;

            @media (max-width: 992px) {
                padding-top: 2rem;
                margin-bottom: 4rem;
            }
        }

        .creators {
            padding-bottom: 5rem;
            .item_card {
                margin-bottom: 3rem;

                img {
                    width: 100%;
                    display: block;
                    border-radius: .25rem;
                    overflow: hidden;
                    margin-bottom: 1.5rem;
                }
            }

            .slick-dots {
                li {
                    width: .8rem;
                    height: .8rem;
                    border-radius: 50%;
                    background: white;

                    &.slick-active {
                        background: orangered;
                    }

                    button {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .listing {
        padding: 1rem 0 5rem;
        @media (max-width: 992px) {
            padding: 0 0 4rem;
        }


        .single_row {
            .row_inner {
                padding: 1.5rem 1rem;
                border-bottom: 1px solid #aaa;

                .row_head {
                    color: orangered;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}