.landing {
    font-family: Josefin Sans;
    .hero_banner {
        .hero_image {
            height: calc(85vh - 100px);
            min-height: 420px;
            max-height: 500px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
        }
        .texts {
            .wrapper {
                .title {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }

                .body {
                    margin-bottom: 1rem;
                    @media (min-width: 992px) {
                        max-width: 40ch;
                    }
                }

                button {
                    border: 0;
                    padding: .75rem 2rem;
                    border-radius: .25rem;

                    &:hover {
                        transition: all 0.2s ease;
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }
    
    .mono_creators {
        .section_title {
            margin-bottom: 5rem;
            padding-top: 3rem;

            @media (max-width: 992px) {
                padding-top: 2rem;
                margin-bottom: 4rem;
            }
        }
        .creators {
            padding-bottom: 5rem;
            .item_card {
                margin-bottom: 3rem;

                img {
                    width: 100%;
                    display: block;
                    border-radius: .25rem;
                    overflow: hidden;
                    margin-bottom: 1.5rem;
                }
            }
            .slick-dots {
                li {
                    width: .9rem;
                    height: .9rem;
                    border-radius: 50%;
                    background: white;
                    margin-right: 1rem;

                    &.slick-active {
                        background: orangered;
                    }

                    button {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .listing {
        .single_row {
            .row_inner {
                padding: 1.5rem 1rem;
            }
            &:not(:last-child) {
                .row_inner {
                    border-bottom: 1px solid #aaa;
                }
            }
        }
    }
}